= simple_form_for(@comment) do |f|
  = f.error_notification

  .form-inputs   
    = f.input :content, label: "Comentário", input_html: { style: "min-height: 500px" }

  .form-actions
    = f.submit "Atualizar comentário", class: "btn btn-success"
