.container-fluid{style: "display:inline"}
  .row
    .col-lg-3
      .article
        %h3.panel-title= Legislation.where(id: @article.legislation_id).first.name
        %hr/
        = @article.content.gsub(/\n/, '<br>').html_safe
  
    - @article.comments.each_slice(4) do |comments|
      - comments.each do |comment|
        .col-lg-3
          .article
            %h3.panel-title= @author
            %hr/
            = @comment
