#filterrific_results
  - if not article.empty?
    .row
      .col-lg-4
        .card
          .card-header
            = Legislation.where(id: article.first.legislation_id).first.name
          .card-body
            = article.first.content.gsub(/\n/, '<br>').html_safe
      
      - article.first.comments.each_with_index do |c, i|
        .col-lg-4
          .card
            .card-header
              = authors[i]
            .card-body
              = (comments[i]).html_safe