#filterrific_results
  - if not article.empty?
    .row
      .col-lg-4
        .article
          %h3.panel-title= Legislation.where(id: article.first.legislation_id).first.name
          %hr/
          = article.first.content.gsub(/\n/, '<br>').html_safe
      
      - article.first.comments.each_with_index do |c, i|
        .col-lg-4
          .article
            %h3.panel-title= authors[i]
            %hr/
            = (comments[i]).html_safe