.container-fluid
  %h1 Listando arquivos

  = render "archives/shared/list", :archives => @archives

  %br

  = link_to 'Adicionar arquivo', new_archive_path, class: "btn btn-primary"
  %hr.invisible
  = link_to fa_icon('arrow-left', text: "Voltar", style: "color:white"), '/', style: "color:white"
