/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";

 body {
   background-color: #002147;
   color: white;
 }

 .center {
   text-align: center;
   padding: 40px;
 }

 .title {
   font-size: 60px;
 }

 .login-form {
   background-color: #fff;
   color: black;
   border-radius: 5px;
   padding: 15px;
   width: 500px;
   margin: 5% 0% 5% 35%;
 }

 .links{
   a {
     color: white;
   }
   .right {
     right: 0;
     position: absolute;
   }

 }

 .article {
   max-width: 300px;
   background-color: white;
   color: black;
   padding: 15px;
   margin: 5px 5px 5px 5px;
 }